<!doctype html>
<html ng-app="siTableExampleApp">
    <head>
        <title>si-table example</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="../si-table.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container">

            <div class="page-header">
                <h1>SiTable Example</h1>
            </div>

            <div ng-controller="ExampleCtrl">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mikael</td>
                            <td>25</td>
                        </tr>
                    </tbody>
                </table>

                <form class="form">
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="text" class="form-control" ng-model="filter.$" placeholder="filter">
                    </div>
                </form>

                {{ sortBy }}

                <table class="table" si-table pagination="10" pagination-length="10" sorting="sortBy">
                    <thead>
                        <tr>
                            <th sort-by="id">ID</th>
                            <th sort-by="testRun.testCase.name">Name</th>
                            <th>Module</th>
                            <th sort-by="testRun.status">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trjm in tableData | filter:filter">
                            <td>{{ trjm.id }}</td>
                            <td>
                                <a href>
                                    {{ trjm.testRun.testCase.name }}
                                </a>
                            </td>
                            <td>
                                <a href>
                                    {{ trjm.testRun.testCase.module }}
                                </a>
                            </td>
                            <td>{{ trjm.testRun.status | status }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <si-table-pagination indices="8" offset="params.offset" total="params.total" limit="10"></si-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <dl class="dl-horizontal">
                    <dt>Offset</dt><dd>{{ params.offset }}</dd>
                    <dt>Total</dt><dd>{{ params.total }}</dd>
                </dl>

                <button class="btn btn-primary" ng-click="params.offset = params.offset + 1">offset += 1</button>
<!--                 <button class="btn btn-primary" ng-click="params.limit = params.limit - 1">limit -= 1</button>
                <button class="btn btn-primary" ng-click="params.limit = params.limit + 1">limit += 1</button> -->

            </div>

        </div>
    </body>
</html>
