<!doctype html>
<html ng-app="siTableExampleApp">
    <head>
        <title>si-table example</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="../si-table.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container">

            <div ng-controller="ExampleCtrl">

                <div class="page-header">
                    <h1>SiTable Example</h1>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p>Simple example where all the data is <em>downloaded
                        once</em>. All sorting and filtering is handled on the
                        client side.
                    </div>
                    <div class="col-sm-6">
                        <ul class="dl-horizontal">
                            <li><strong>Limit: </strong>{{ params.limit }}</li>
                            <li><strong>Total: </strong>{{ params.total }}</li>
                            <li><strong>Offset: </strong>{{ params.offset }}</li>
                            <li><strong>Sorting: </strong>{{ params.sortBy }}</li>
                        </ul>
                    </div>
                </div>

                <form class="form">
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="text" class="form-control" ng-model="filter.$" placeholder="filter">
                    </div>
                </form>

                <table class="table" si-table sorting="params.sortBy">
                    <thead>
                        <tr>
                            <th sort-by="number">#</th>
                            <th sort-by="title">Title</th>
                            <th sort-by="user.login">User</th>
                            <th sort-by="created_at">Created At</th>
                            <th>Labels</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="issue in issues | filter:filter">
                            <td class="text-muted">#{{ issue.number }}</td>
                            <td><strong><a href="{{ issue.html_url }}">{{ issue.title }}</a></strong></td>
                            <td><a href="{{ issue.user.html_url }}">{{ issue.user.login }}</td>
                            <td>{{ issue.created_at | date}}</td>
                            <td>
                                <span ng-repeat="label in issue.labels">
                                    <span class="label label-default"
                                            style="background-color: #{{ label.color }};">
                                        {{ label.name }}
                                    </span>
                                    <br>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <si-table-pagination limit="params.limit" offset="params.offset" total="params.total">
                                </si-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <button class="btn btn-primary" ng-click="params.offset = params.offset + 1">offset += 1</button>

                <div class="alert alert-info" ng-if="!issues">
                    Loading ...
                </div>

            </div>
        </div>
    </body>
</html>
